html,
body {
    font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none !important;
}

p {
    color: #696969;
}

input {
    outline: none;
}


/* dùng chung cho các tiêu đề */

.main-header .navbar .navbar-brand {
    color: #189A46;
}

.header-padding-top {
    padding-top: 80px;
}

.text-blue-primary {
    color: #189A46;
}

.title .sub_title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
    text-align: center;
}

.title .my__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    text-align: center;

}

.container-config {
    margin-left: 60px;
    margin-right: 60px;

}

@media (min-width: 1400px) {
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;}
}

@media screen and (max-width:922px) {
    .container-config {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .stay__updated .stay__updated__content {
        width: 100%;
        margin: 0 auto;
        padding: 0 30px;

    }

    footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    .colum__left {
        margin-top: 15px;
    }


}

@media screen and (min-width:922px) {

    .stay__updated .stay__updated__content .stay__updated__form {
        display: flex;
        justify-content: space-between;

    }

    .stay__updated .stay__updated__form form input {
        width: 75%;
    }

    .stay__updated .stay__updated__content {
        width: 50%;
        margin: 0 auto;

    }


}

body.dark {
    background-color: #404040;
    color: white;
}

/* header */
/* color primary :189a46 */
/* color text gray :#696969 */

header .navbar-brand {
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
}

.navbar-toggler {
    background-color: #189A46;

}

.navbar-toggler i {
    color: white;
}

header .navbar-nav .nav-link {
    color: #696969;
    transition: all 0.5s;
    position: relative;
}

body.dark header {
    background-color: #404040;
}

header {
    background-color: white;
}

body.dark header .navbar-nav li a,
body.dark header .navbar-nav li i {
    color: white;
}

header .navbar-nav .nav-link:hover,
header .navbar-nav .nav-link.active,
header .navbar-brand {
    color: #189a46;
}

header .navbar-nav .nav-link:hover,
header .navbar-nav .nav-link.active,
header .navbar-brand {
    color: #189a46;
}

header .navbar-nav>.nav-item>.nav-link::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: #189a46;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}

header .search {
    width: 40px;
    height: 40px;
    color: #189a46;
    background-color: transparent;
    transition: all 0.5s;
    border: none;
}

header .search:hover {
    background-color: #189a46;
    color: white;
}

header .navbar-nav>.nav-item>.nav-link:hover::before {
    width: 100%;
}

header .navbar-nav .nav-item {
    padding: 0 10px;
}



header.main-header {
    padding: 0px;
    height: 80px;
    transition: all 0.4s ease 0s;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);

}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


/* light mode*/
.button__mode {
    padding: 5px 10px;
    width: 50px;
    height: 100%;
    border: none;
    background-color: transparent;
}

.button__mode i {
    font-size: 16px;
    color: #404040;
}

/* huy start css---------------------- */




.carousel {
    min-height: 100%;
    min-width: 100%;
}

.carousel p {
    color: white;
}

.carousel-indicators [data-bs-target] {
    height: 10px;
    width: 10px;
    background-color: white;
    padding: 0px;
    opacity: 1;
    border: 0px solid;
    border-radius: 25px;
    margin: 10px 10px;
    display: block;
}

.carousel-indicators [data-bs-target].active {
    width: 30px;
    background-color: #189a46;
    opacity: 1;
}

.carousel-indicators [data-bs-target]:hover {
    width: 30px;
    background-color: #189a46;
    opacity: 1;
}

.carousel-item {
    box-shadow: 0 0 0 100px inset, 0 0 5px grey;
    position: relative;
}

.carousel-item button {
    color: #189a46;
    padding: 12px 35px;
    border-radius: 12px;
    margin-right: 10px;
}

#contactUs {
    color: white;
    background-color: rgba(240, 248, 255, 0);
    transition: 0.5s all;
    border: 2px white solid;
}

.carousel-item .carousel-button button:hover,
#contactUs:hover {
    color: #189a46;
    background-color: white;
}


.carousel-item img {
    filter: brightness(40%);
    height: calc(100vh - 50px);
}

#carouselId {
    width: 100%;
    display: block;
}

.carousel-caption {
    max-width: 700px;
    position: absolute;
    margin: auto;
    text-align: left;
    top: 40%;
}

#carouselId h3 {
    font-weight: 700;
    font-size: 3.2em;
    max-width: 70%;
}

.carousel-item p {
    font-weight: 400;
    font-size: 1em;
    max-width: 80%;
}

/* About Us */
#aboutUs .container div {
    max-width: 80%;
    margin: auto;
}

#aboutUs .container p {
    font-size: 1.2em;
    padding: 0px 20px
}

.description h6 {
    color: #f53626;
    font-weight: 400;
    font-size: 18px;
}

.description h3 {
    text-align: center;
    display: block;
    font-size: 40px;
}

.readMore {
    font-weight: bold;
    color: #696969;
    border-bottom: 2px solid #189a46;
    transition: 0.6s all;
    text-decoration: none;
}

.readMore:hover {
    font-weight: bold;
    color: #189a46;
    text-decoration-color: #189a46;
}

.video-view a {
    display: block;
    padding: 2px;
}

.play-view {
    position: absolute;
    top: 20px;
    right: calc(50% - 40px);
    top: calc(50% - 40px);
    color: #189a46;
}

.play-view:hover {
    color: #189a46;
}

.video-play-icon {
    background-color: white;
    border: 0 solid white;
    width: 55px;
    height: 55px;
    display: block;
    text-align: middle;
    animation: ripple 1s linear infinite;
}

/*  */



.content {
    display: flex;
    justify-content: space-between;
}

.content img {
    max-width: 90%;
    border-radius: 10px;
}

.content_left {
    width: 50%;
}

.content_right {
    width: 50%;
    align-self: center;
}

#whyChooseUs .description h3 {
    text-align: left;
}

.content_right ul {
    list-style: none;
    padding-left: 0px;
    font-weight: bold;
}

.content_right li {
    line-height: 40px;
}

.content_right h3 {
    margin-top: 20px;
    font-weight: 600;
    line-height: 40px;
}

.content_right i {
    font-size: 12px;
    font-weight: bold;
    color: #189a46;
    vertical-align: middle;
    padding: 7px;
    border: 0px solid #f55f8d;
    background-color: rgba(147, 107, 232, 0.05);
    border-radius: 30px;
    margin-right: 10px;
}

.number {
    background: #189a46;
    color: white;
    padding: 60px 0px
}

.number p {
    font-weight: bold;
    font-size: 50px;
    color: white;
    margin-bottom: 0px;
}

.number h4 {
    font-weight: 300;
    font-size: 20px;
    color: white;
}

/*  */
#cardList {
    background-color: #936be80d;
    padding: 80px;
}

.card {
    border: 0px;
    transition: all 0.8s ease 0s;
    border-radius: 7px;
    margin: 0px;
    width: 100%;
}


.card p {
    font-size: 19px;
    color: #696969;
}

.card h5 {
    font-size: 24px;
    font-weight: bold;
}

.card-body {
    padding: 30px;
}

.card:hover {
    background-color: #F3EFFD;
}

#cardList .icon {
    color: #189a46;
    font-size: 30px;
}

#cardList .card-body>* {
    margin: 15px 0 15px 0;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* huy end css------------------------- */

/* Our Plans */
/* #151515 */
body.dark .our__plan {
    background-color: #404040;
}

.our__plan {
    background-color: #F9F8FE;
}

.our__plan .row {
    padding: 40px 0;
}

.our__plan .row>* {
    padding: 0;
}

.our__plan .heading {
    text-align: center;
}

.general {
    background-color: #fff;
}

.our__plan .heading .subtitle {
    color: #f53626;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;

}

.our__plan .my-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.our__plan .colum1 {
    margin: 0 5% auto;
    margin-top: 0;
    width: 90%;
}

.our__plan .colum__left {

    border-radius: 6px;
    align-self: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body.dark .our__plan .colum__left .col1__content {
    background-color: #151515;
}

.our__plan .colum__left .col1__content {
    padding: 3.5em 2.5em;
    border-right: 0;
    background-color: #fff;
}

body.dark .our__plan .colum__left .col1__content .col1__item__number h6 {
    color: white;
}

.our__plan .colum__left .col1__content .col1__item__number h6 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #111;
}

.our__plan .colum__left .col1__content .col1__item__number h4 {
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #189A46;
}

.our__plan .colum__left .col1__content .col1__item__number h4 span {
    font-size: 16px;
    line-height: 25px;
    color: #afafaf;
    font-weight: 400;
}

ul {
    padding: 0;
}

.col1__item__text {
    text-align: center;
    padding-top: 1em;
}

.col1__item__text ul.list {
    min-height: 120px;
}

.col1__item__text ul.list li {
    list-style: none;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    padding-top: 6px;
    color: #696969;
}

.btn-style {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #189A46;
    border-color: #189A46;
}

.button a:hover {
    background-color: #189A46 !important;
}

.col1__item__number label {
    font-size: 25px;
    vertical-align: text-top;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.colum2 .col1__item__number {
    padding: 3em 2.5em 0.5em;
    background: #189A46;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.colum2 h5 {
    font-size: 15px;
    line-height: 20px;
    color: #189A46;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    border-radius: 10px;
}


.colum2 .col1__item__number h6 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
}

.colum2 h4 {
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: #fff;
}

.colum2 span {
    font-size: 16px;
    line-height: 25px;
    color: #eee;
    font-weight: 400;

}

h4 label.colum2__lable {
    font-size: 25px;
    vertical-align: text-top;
    color: #fff;
    display: inline-block;
    margin-bottom: 0.5rem;

}

body.dark .colum2 .col1__item__text {
    background-color: #151511;
}

.colum2 .col1__item__text {
    padding: 2em 2.5em 3.5em;
    background: #fff;
}

.col1__item__number h4.text label,
.col1__item__number h4.text span {
    color: #fff;
}

/* TESTIMONIALS */

.testimonials {
    padding: 40px 0;
    background-color: #F9F8FE;
}

body.dark .testimonials__item>div {
    background-color: #151515;
}

.testimonials .testimonials__item {

    display: block;
   
    position: relative;

    border: none;
    padding:0 5px !important;

}

.testimonials .testimonials__item>div {
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
        background: #fff;
        padding: 40px 30px;
    border-radius: 10px;
}

.testimonials__item__content {
    display: flex;
}

body.dark .testimonials__item__content p {
    color: #696969;
}

.testimonials__item__content p {
    font-size: 1.2em;
    color: #696969;
}

.testimonials__item__content i {
    color: #189A46;
    font-size: 35px;
    font-weight: 600;
    margin-top: -25px;
}

.info__image {
    width: 100%;
}

.testimonials__item .testimonials__item__info {
    display: flex;
    text-align: center;
}


.testimonials .testimonials__item .info__image {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
}

.testimonials .testimonials__item .info__image img {
    object-fit: contain;
    width: 100%;
}

.testimonials__item__name {
    margin: 0;
    margin-left: 20px;
    text-align: left;
}


.testimonials__item__name h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

body.dark .testimonials__item__name h5 {
    color: white;
}

body.dark .testimonials {
    background-color: #696969;
}

.testimonials__item__name p {
    color: #777;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8;
}
.testimonials .slick-terminal .slick-dots {
    bottom: -20% !important;
}

.testimonials .slick-terminal .slick-dots li {
    width: 30px;
}

body.dark .testimonials .slick-terminal .slick-dots li[role='presentation'] button::before {
    background-color: #d8d8d8;
}

.testimonials .slick-terminal .slick-dots li[role='presentation'] button::before {

    color: transparent;
    background-color: #777;
    font-size: 12px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    transition: all .3s;
}

.testimonials .slick-terminal .slick-dots li.slick-active button::before,
.testimonials .slick-terminal .slick-dots li[role='presentation'] button:hover:before {
    width: 100%;
    background-color: #189A46;
    border-radius: 10px;
}

body.dark .testimonials .slick-terminal .slick-dots li.slick-active button::before,
body.dark .testimonials .slick-terminal .slick-dots li[role='presentation'] button:hover:before {
    background-color: #189A46;
}

/*stay updated */
body.dark .stay__updated {
    background-color: #151511;
}

.stay__updated {
    padding: 60px 0;
    background-color: white;
}

.stay__updated .title h4 {
    font-size: 1.2em;
    color: #696969;
    font-weight: normal;
}

.stay__updated .stay__updated__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stay__updated .stay__updated__content form {
    width: 100%;
}

/* .stay__updated .stay__updated__content .title {
    width: 50%;
} */
body.dark .stay__updated .stay__updated__content .title h2 {
    color: #DDD;
}

body.dark .stay__updated .stay__updated__content .title p {
    color: #afafaf;
}

.stay__updated .stay__updated__content .stay__updated__form {
    width: 75%;
}





.stay__updated .stay__updated__content .stay__updated__form form input {
    width: 75%;
    font-size: 16px;
    color: #696969;
    border-radius: 10px;
    padding: 0px 20px;
    height: 60px;
    flex-basis: 70%;
    background: #fff;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0.5px solid #777;
    transition: all 0.5s;
}

.stay__updated .stay__updated__content .stay__updated__form form input:hover {
    border: 0.5px solid #189A46 !important;
}

.stay__updated .stay__updated__content .stay__updated__form button {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
    background-color: #189A46;
    color: white;
}

/* footer */
footer {
    background-color: #111;
    color: #696969;
}

footer a {
    color: #696969;
}

footer a:hover {
    color: white;
}

footer .social {
    padding-left: 0;
}

footer ul {
    padding-left: 0;
}

footer .social li {
    padding-right: 5px;
}

footer .footer__title {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 25px;
}


/* modal  */
.modal__search form.search__modal input[type="search"] {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    height: 55px;
    padding: 15px 20px 12px;
    width: 100%;
    border: 1px solid #d6d6d6;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-right: none;
}

.modal__search form.search__modal button {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #F5F9FC;
    font-weight: 500;
    border: none;
    background: #189A46;
    padding: 0 25px;
    border-left: none;
    border-radius: initial;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.modal__search .modal-header {
    border-bottom: none;
}

.modal__search .modal-content {
    background-color: transparent;
    border: none;
}

.modal__search .btn-close {
    color: white;
    background-color: #696969;
    line-height: 17px;
}


  /* Styles for dialog window */
  #dialog {
    padding: 20px 30px;
    }

    /* start state */
    .my-mfp-zoom-in .zoom-anim-dialog {
    display:block;
    opacity: 0;
    
    -webkit-transition: all 0.2s ease-in-out; 
    -moz-transition: all 0.2s ease-in-out; 
    -o-transition: all 0.2s ease-in-out; 
    transition: all 0.2s ease-in-out; 
    
    -webkit-transform: scale(0.8); 
    -moz-transform: scale(0.8); 
    -ms-transform: scale(0.8); 
    -o-transform: scale(0.8); 
    transform: scale(0.8); 
    }
    
    /* animate in */
    .my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    
    -webkit-transform: scale(1); 
    -moz-transform: scale(1); 
    -ms-transform: scale(1); 
    -o-transform: scale(1); 
    transform: scale(1); 
    }
    
    /* animate out */
    .my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    -webkit-transform: scale(0.8); 
    -moz-transform: scale(0.8); 
    -ms-transform: scale(0.8); 
    -o-transform: scale(0.8); 
    transform: scale(0.8); 
    
    opacity: 0;
    }
    
    /* Dark overlay, start state */
    .my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out; 
    -moz-transition: opacity 0.3s ease-out; 
    -o-transition: opacity 0.3s ease-out; 
    transition: opacity 0.3s ease-out;
    }
    /* animate in */
    .my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
    }
    /* animate out */
    .my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
    }

    .mfp-content {
        width: 100%;
        text-align: center;
    }

    .mfp-close-btn-in .mfp-close {
        color: rgb(255, 255, 255);
        right: 380px;
        top: 70px;
        font-size: 40px;
    }

#service_banner {
        background-image: url(./../images/banner4.jpg);
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 0;
        display: grid;
        align-items: center;
        padding: 1em 0;
        color: white;
        text-align: center;
}

#service_banner::before {
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: .6;
}


#service h2 {
    color: white;
}

#service .title {
    font-size: 50px;
    font-weight: 600;
}

#service ul {
    font-size: 1.2em;
}

#service ul a:active,a,a:hover{
    color: #189a46;
}


@keyframes ripple {
  0% {
    box-shadow: 0 0 0 .5rem rgba(24,154,70, 0.2),
                0 0 0 1rem rgba(24,154,70, 0.2),
                0 0 0 2rem rgba(24,154,70, 0.2);
  }
  100% {
    box-shadow: 0 0 0 0.7rem rgba(24,154,70, 0.2),
                0 0 0 2rem rgba(24,154,70, 0.2),
                0 0 0 3rem rgba(24,154,70, 0);
  }
}